<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="ui secondry pointing menu">
            <a href="/" class="active item">Home</a>
            <a href="/covid" class="item">Covid Report</a>
            <div class="right menu">
                <div class="item">
                    <form class="ui transparent icon input" method="GET" action="/search">
                      <input type="text" placeholder="country" name="country">
                      <button type="submit"><i class="search link icon"></i></button>
                    </from>
                  </div>
            </div>
        </div>
    </div>
    